<% if @artwork.errors.any? %>
  <p class="error">There were some problems with your submission:</p>
  <ul>
    <% @artwork.errors.full_messages.each do |message| %>
      <li class="error"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for([@user, @artwork]) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <br><br>

  <%= f.label :date %>
  <%= f.date_field :date %>

  <br><br>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <br><br>

  <%= f.label "Link" %>
  <%= f.text_field :url, placeholder: "http://example.com/"%>

  <br><br>

  <%= f.label :images %><br>
  <%= f.file_field :images, :multiple => true %>

  <br><br>

  <%= f.submit %>

<% end %>
