<h1><%= @user.name %>'s Profile</h1>

<p><%= link_to "Edit profile", edit_user_path(@user) if current_user == @user %></p>

<%= image_tag(@user.avatar) if @user.avatar.attached?%>
<br>
<%= link_to "Change profile picture", edit_avatar_path if current_user == @user %>

<p>Website: <%= link_to(@user.website) unless @user.website.nil? %></p>

<h3>User Bio:</h3>
<p><%= @user.bio %></p>
<h3>Works:</h3>
