<h1><%= @user.name %>'s Profile</h1>

<p><%= link_to "Edit profile", edit_user_path(@user) if current_user == @user %></p>

<%= image_tag(@user.avatar) if @user.avatar.attached?%>
<br>
<%= link_to "Change profile picture", edit_avatar_path if current_user == @user %>

<p>Website: <%= link_to(@user.website) unless @user.website.nil? %></p>

<h3>User Bio:</h3>
<p><%= @user.bio %></p>
<h3>Works:</h3>

<% if @user.artworks.any? %>
  <ul>
    <% @user.artworks.each do |artwork| %>
    <li><%= link_to artwork.title, artwork_path(artwork) %> - <%= artwork.date %></li>
    <% end %>
  </ul>
<% elsif current_user == @user %>
  <p>You have not added any works to your profile.  You can begin by <%= link_to "adding one now", new_user_artwork_path(@user) %>.</p>
<% else %>
  <p>This user has not added any works to their portfolio.</p>
<% end %>
