<h1><%= @user.name %>'s Profile</h1>

<p><%= link_to "Edit profile", edit_user_path(@user) if current_user == @user %></p>

<%= image_tag(@user.avatar.variant(resize: "200x200")) if @user.avatar.attached?%>
<br>
<%= link_to "Change profile picture", edit_avatar_path if current_user == @user %>

<p>Website: <%= link_to(@user.website) unless @user.website.nil? || @user.website == "" %></p>
<p>Resume/CV:
  <% if @user.resume.attached? %>
    <%= link_to "View Resume/CV", url_for(@user.resume) %>
    <%= link_to "Update Resume/CV", new_user_resume_path(@user) %>
  <% elsif @user == current_user %>
    <%= link_to "Upload Resume/CV", new_user_resume_path(@user) %>
  <% else %>
    User has not uploaded a resume/CV.
  <% end %>
</p>

<h3>User Bio:</h3>
<p><%= @user.bio %></p>
<h3>Works:</h3>

<% if @user.artworks.any? %>
<%= link_to "Add Work", new_user_artwork_path(@user) %>

  <ul>
    <% @user.artworks.each do |artwork| %>
    <li>
      <a href="<%= user_artwork_path(@user, artwork) %>">
        <div class="artwork">
          <%= image_tag(artwork.images.first.variant(resize: "200x200")) %><br>
          <%= artwork.title %>, <%= artwork.date.strftime("%B %Y") %>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
<% elsif current_user == @user %>
  <p>You have not added any works to your profile.  You can begin by <%= link_to "adding one now", new_user_artwork_path(@user) %>.</p>
<% else %>
  <p>This user has not added any works to their portfolio.</p>
<% end %>
