<table class="table">
  <tr>
    <th>Interested</th>
    <th>Image</th>
    <th>Event Title</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Venue</th>
    <th>Accepting Applications</th>
    <th>Users Interested:</th>
  </tr>

<% @events.each do |event| %>
    <tr>
      <td><%= image_tag "star.png", class: "star" if event.users.include?(current_user) %></td>
      <td><%= image_tag event.image.variant(resize: "150x150") if event.image.attached? %></td>
      <td><%= link_to event.name, event_path(event) %></td>
      <td><%= event.start_time.strftime("%m/%d/%Y %l:%M%p") %></td>
      <td><%= event.end_time.strftime("%m/%d/%Y %l:%M%p") %></td>
      <td><%= event.venue %></td>
      <td><%= event.accepting_applications ? "Yes" : "No" %></td>
      <td><%= event.users.count %></td>
    </tr>

<% end %>
