<h1>Upcoming Events</h1>
<%= link_to "New Event", new_event_path %>  <%= link_to "View Past Events", past_events_path %>
<br>
<%= button_tag 'New Event', type: 'button', class: "btn btn-outline-primary", id: "js-new-event" %>
<div  class="container">
  <div class="row">
    <div class=""></div>
    <div class="col-12">
      <div id="js-new-event-form" class="position-absolute"></div>
    </div>
    <div class=""></div>
  </div>
</div>
<%= render "table", :events => @events %>


<script id="table-row-template" type="text/x-handlebars-template">
  <tr>
    <td><img class="star" id="star-{{id}}" data-id="{{id}}" data-state="0" src="/assets/star-blank32.png" /></td>
    <td><img src="{{imageUrl}}" /></td>
    <td><a href="/events/{{id}}">{{name}}</a></td>
    <td>{{startTime}}</td>
    <td>{{endTime}}</td>
    <td>{{venue}}</td>
    <td>{{acceptingApplications}}</td>
    <td id="js-user-count-{{id}}">{{userCount}}</td>
  </tr>
</script>

<script id="event-show-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="col-12">
      <h1>{{name}}</h1>
      <p>Posted by: <a href="/users/{{owner.id}}">{{owner.name}}</a> at {{createdAt}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-5">
      <div id="event-buttons">
          {{{eventButtons()}}}
      </div>


      <br>
        <a href="{{imageUrlFull}}"><img src="{{imageUrl400}}" /></a>
    </div>

    <div class="col-xl">
      <h3 class="pt-4">Details</h3>
      <p>
        <strong>Start time: </strong> {{startTime}}<br><br>
        <strong>End time: </strong> {{endTime}}<br><br>
        <strong>Location: </strong> {{area}}, {{city}}<br><br>
        <strong>Venue: </strong> {{venue}}<br><br>
        <strong>Accepting Applications: </strong> {{acceptingApplications}}<br><br>
        <strong>
            There are {{userCount}} users interested in this event.
        </strong>
        <strong> </strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5>Event Description</h5>
      <p>
        <p>{{description}}</p>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h3 class="border-top mt-1 pt-3">Comments</h3>


<form class="new_comment" id="new_comment" role="form" action="/events/{{id}}/comments" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class="form-group"><textarea class="form-control" name="comment[body]" id="comment_body">
</textarea></div>
  <input type="submit" name="commit" value="Create Comment" id="create-comment" class="btn btn-secondary" data-disable-with="Create Comment" />
</form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {{{listComments()}}}
    </div>
  </div>
</script>
