<h1><%= @event.name %></h1>
<p>Posted by: <%= link_to @event.user.name, user_path(@event.user)  %> at <%= @event.created_at.strftime("%d %b %Y %l:%M %p %Z") %></p>

<% if @event.user == current_user %>
  <%= link_to "Edit Event", edit_event_path(@event) %>
  <%= link_to "Delete Event", event_path(@event), method: :delete %>
<% elsif current_user.events.include?(@event) %>
  <p>You are interested in this event.</p>
  <%= link_to "No Longer Interest in Event", remove_interest_path(@event) %>
<% else %>
  <%= link_to "Interested", add_interest_path(@event) %>
<% end %>

<br>

<%= link_to image_tag(@event.image.variant(resize: "400x400")), url_for(@event.image) if @event.image.attached? %>

<p>
  <strong>Start time: </strong> <%= @event.start_time.strftime("%A, %d %b %Y %l:%M %p %Z") %><br>
  <strong>End time: </strong> <%= @event.end_time.strftime("%A, %d %b %Y %l:%M %p %Z") %><br>
  <strong>Location: </strong> <%= @event.location %><br>
  <strong>Accepting Applications: </strong> <%= @event.accepting_applications ? "Yes" : "No" %>
</p>

<p>
  <strong>Event Description:</strong>
  <%= simple_format(@event.description) %>
</p>

<h2>Comments</h2>
<%= form_for([@event, @comment]) do |f| %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "add comment" %>
<% end %>
