<!DOCTYPE html>
<html>
  <head>
    <title>ArthubRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= link_to "Events", events_path %>
        <%= link_to "Profile", user_path(current_user) %>

        <%= link_to "Log Out", "/logout", method: :delete %>
      <% end %>
    </header>

    <% if flash[:success] %>
      <h3 class="success"><%= flash[:success] %></h3>
    <% elsif flash[:error] %>
      <h3 class="error"><%= flash[:error] %></h3>
    <% end %>

    <%= yield %>
  </body>
</html>
