<!DOCTYPE html>
<html>
  <head>
    <title>ArthubRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container bg-white fill">
      <% if logged_in? %>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

          <a href="/" class="navbar-brand">
          <span class="nav-logo white-text">ArtHub</span></a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-links">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="nav-links">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "Dashboard", dashboard_path, :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Events", events_path, :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Profile", user_path(current_user), :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log Out", logout_path, method: :delete, :class => "nav-link" %>
              </li>
            </ul>
          </div>
        </nav>
      <% end %>

      <% if flash[:success] %>
        <h3 class="success"><%= flash[:success] %></h3>
      <% elsif flash[:error] %>
        <h3 class="error"><%= flash[:error] %></h3>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
